.header{
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #c0ced9;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 955px){
    .header{
        justify-content: space-between;
        padding: .5rem;
    }
}

.header-logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin:0 10px;
    padding:0;
    font-size: 2rem;
    color:#1761a0;
}

