.login{
    font-size: 1.5rem;
}

.login-form{
    display:flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.login-item{
    margin: 4px;
    color: white;
}
.input-item{
    width: 200px;
    padding:1px;
    border:0px solid;
    font-size: 1rem;
}

.button-item{
    padding: 5px;
    margin-left: 5px;
    width: 100px;
    font-size: 1rem;
    border: 0px solid;
    border-radius:5px;
}

.error{
    display: inline-block;
    color: rgb(102, 8, 8);
    margin:0;
    padding:0;
}